<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
<span class="navbar-brand mb-0 h1">
        <span th:utext="${user.email}"></span>
        <span class="font-weight-light"> with roles: </span>
        <span th:utext="${user.rolesToString()}" class="font-weight-light"></span>
</span>
    <a class="text-secondary" th:href="@{/logout}">Logout</a>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-2 vh-100">
            <br/>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-home-tab"
                   data-toggle="pill" th:href="@{/admin}" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" th:href="@{/user}" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col bg-light vh-100">

            <div class="px-md-3">
                <br/>
                <h1>Admin panel</h1>
                <br/>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin}">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admin/adduser}">Add user</a>
                    </li>
                </ul>

                <div class="card">
                    <div class="card-header">
                        Add new user
                    </div>
                    <div class="card-body">
                        <div class="w-50 mx-auto">
                            <form th:action="@{/admin/adduser}"
                                  th:object="${userform}" method="POST">
                                <div class="form-group">
                                    <div class="d-flex justify-content-sm-center">
                                        <label for="firstname" class="font-weight-bold">Firstname</label>
                                    </div>
                                    <input type="text" class="form-control" id="firstname" placeholder="Firstname"
                                           th:field="*{firstname}">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-sm-center">
                                        <label for="lastname" class="font-weight-bold">Lastname</label>
                                    </div>
                                    <input type="text" class="form-control" id="lastname" placeholder="Lastname"
                                           th:field="*{lastname}">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-sm-center">
                                        <label for="age" class="font-weight-bold">Age</label>
                                    </div>
                                    <input type="text" class="form-control" id="age" placeholder="Age"
                                           th:field="*{age}">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-sm-center">
                                        <label for="email" class="font-weight-bold">Email address</label>
                                    </div>
                                    <input type="email" class="form-control" id="email" placeholder="mail@example.com"
                                           th:field="*{email}">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-sm-center">
                                        <label for="password" class="font-weight-bold">Password</label>
                                    </div>
                                    <input type="password" class="form-control" id="password" placeholder="password"
                                           th:field="*{password}">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-sm-center">
                                        <label for="role" class="font-weight-bold">Role</label>
                                    </div>
                                    <select multiple class="form-control" id="role" th:field="*{role}">
                                        <option value="ROLE_USER">USER</option>
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                    </select>
                                    <br/>
                                    <div class="d-flex justify-content-sm-center">
                                        <button type="submit" class="btn btn-success" value="submit">Add new user
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
